
	/* layout css */
	html, body {background-color:#000;overflow:hidden;margin:0; padding:0;font-family:arial;height:100%}
	
    section {display:flex;flex-direction:column;height:100%;position:relative}
	main {box-sizing:border-box}
	nav {overflow-y:scroll;scroll-behavior:smooth;background:#606060}
    
	#menu li {padding:0;vertical-align:middle;line-height:1.8em;position: relative}
	.thumbimg {background:#242424}  
	
	@media only screen and (orientation: landscape) {
        main {width:calc(85%);height:calc(100%)}
        nav {width:calc(15%);height: calc(100%);position:absolute;top:0;right:0;}

        #menu li {display:flex;flex-wrap:wrap}
        .thumbimg {width:175px;height:100px}
       .active img {width:164px;height:80px}    
    
    }

    @media (orientation:portrait) {
        main {height:25%}
        nav {height:75%;}

        #menu li {display:inline-block}
       .thumbimg {width:194px;height:150px}
       .active img {width:173px;height:130px}
    }

	::-webkit-scrollbar-thumb {background-color:yellow;}
	::-webkit-scrollbar-corner {background:0 0;}
	::-webkit-scrollbar {width:8px;height:8px;background:0 0;}
	
	/* navigation */
	nav ul {padding:0;margin:0;list-style:none;}
	#menu {background: #12c2e9;background: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);}

	#menu li {margin:0;cursor:pointer; color:yellow;vertical-align:middle}
	#menu li:hover {background:#fff;color:red!important;cursor:pointer}
	

	.active img{background-color:yellow;border:10px solid yellow}


	.hide{display:none!important;background-color:red!important;}
	.notavailable	{text-decoration:line-through}


	.thumbtitle {display:block;width:140px;hei//ght:80px;padding:4px;over/flow:hidden; text-ove/rflow: ellipsis; white-sp/ace: nowrap;display: flex;justify-content: left;align-items: center;}

	.thumbtitle {display:none}
	


	/* VideoJS Player overrides */
		/* VideoJS Player overrides */
		#myvideo {background-size:cover;background-size:100% 100%!important; height:100%;width:100%;margin:0;padding:0}

		#vidZ{height:100%;width:100%;margin:0;padding:0}
		#vidZ video{object-fit:initial;background-size:cover;background-size:100% 100%;margin:0;padding:0}
		
		.video-js {width:100%!important;height:100%!important}
		.video-player {position:relative!important;width:100%!important;height:auto!important}
	
		.video-js {background-color:transparent!important}
		.video-js .vjs-volume-panel.vjs-volume-panel-horizontal {width:10em!important}	
		.video-js .vjs-volume-panel .vjs-volume-control {opacity:1;width:100%!important}
	
		.vjs-live .vjs-progress-control {display: flex!important}
		.video-js .vjs-live-control {border: 1px solid red;display:none!important}
		
		.vjs-modal-dialog{display:none!important}
		.vjs-live .vjs-progress-control{di//splay:flex}
		
		.vjs-live-display {displ//ay: none}
		.video-js.vjs-live:not(.vjs-liveui) .vjs-seek-to-live-control,
		.video-js:not(.vjs-live) .vjs-seek-to-live-control {display:inline-block}
		
		.vjs-paused.vjs-has-started .vjs-big-play-button {display:block!important}
		
		.video-js .vjs-big-play-button {
			font-size: 5em!important;
			line-height: 3em!important;
			height: 3em!important;
			width: 3em!important;
			border: .03em solid #fff;
			border-radius: 2em;
			top: 40%!important;
			left: 6%!important;
		}
		
		.video-js .vjs-big-play-button .vjs-icon-placeholder:before {font-size:2em!important}	
	
		.vjs-fullscreen-control.vjs-button	{font-size:2em!important}
		.vjs-default-skin.vjs-paused .vjs-control-bar{display:block}

    


    .searchTree{position:absolute;top:0;right:0;float:top;width:200px;background:#00ff00;padding:10px;margin:0;font-family:arial;}
    .searchTree h1{font-size:16px;}
    .searchHide{display:none}
